.jumbotron-fluid{
  background-color:#b8ecf4;
  color: white;
   padding-top: 30px;
    padding-bottom: 30px;
}

h1{
  color:white;
  font-family: Verdana;
  text-align: center
}

#info{
  border:solid;
  border-width:8px;
  border-color:#ffdc98;
  background-color:white; 
  color:black;
  font-family: Verdana;
}

.likes{
  color:black;
  text-align: center;
  font-family: Verdana;
}

.card-title{
  color:black;
  font-family: Verdana;
  text-align: center;
}

.card-body{
    background-color:#FFB6C1;
}

.jumbotron-fluid-fluid{
  background-color:#b8ecf4;
  text-align: center;
  color:white;
  font-family:verdana;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-body-hobby{
  background-color:#FFB6C1;
  height:55px;
  text-align:center;
}

body{
  background-image:url(https://www.muralswallpaper.com/app/uploads/clean-white-brick-wall-textures-plain.jpg);
}
.topnav {
  background-color:white;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#FFB6C1;
  color: black;
}

.topnav a.active {
  background-color:#FFB6C1;
  color: black;
}
