.jumbotron-fluid{
  background-color:	#04284a;
  color: white;
}

h1{
  color:white;
  font-family: Verdana;
  text-align: center
}

#info{
  border:solid;
  border-color:#afffcc;
  color:black;
  font-family: Verdana;
}

.likes{
  color:black;
  text-align: center;
  font-family: Verdana;
}

.card-title{
  color:black;
  font-family: Verdana;
  text-align: center;
}

.card-body{
    background-color: #ff6b68;
}

